:root {
    --trans: all 0.5s ease;
}

.tile {
    min-height: 3rem;
    width: 100%;
    display: flex;
    padding: 1rem;
    transition: var(--trans);
}

.tile:hover {
    cursor: pointer;
}

.details {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    transition: var(--trans);
}

.details.tint {
    color: #000;
}

.details.shade {
    color: #fff;
}

.details.hide {
    display: none;
    transition: var(--trans);
}

@media screen and (min-width: 850px) {
  .tile {
    height: 8rem;
}

.tile:hover {
    min-width: fit-content;
}
}